---
import '@fontsource/ibm-plex-mono/400.css';
import '@fontsource/ibm-plex-mono/500.css';
import Header from "@/organisms/Header.astro";
import "@/styles/global.sass";
import "@/styles/base.css";
import Footer from "@/organisms/Footer.astro";

---
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <slot name="head"/>
  <script >
    import {setCurrentTheme} from "@/utils/theme";
    setCurrentTheme();
  </script>
</head>
<body>
<Header/>
<main>
  <slot name="body"/>
</main>
<Footer/>
</body>
</html>
<style lang="sass">
  body
    @apply mx-auto container max-w-3xl px-4
    margin: 0 auto !important
    height: 100vh
  main
    overflow-y: scroll
    max-height: calc(100vh - 200px)
    margin-top: 16px
</style>
