---
import { getCollection } from "astro:content";
import BaseHead from "@/organisms/BaseHead.astro";
import MainLayout from "@/templates/MainLayout.astro";
import {getUniqueTags} from "@/utils/tags";
import Tag from "../../molecules/Tag.vue";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---


<MainLayout>
    <BaseHead slot="head" title={'Tags'} description={'Posts by tags'} />
    <section slot="body">
        <ul>
          {tags.map(tag => <Tag name={tag} size="lg" />)}
        </ul>
    </section>
</MainLayout>
