---
import config from "@/config.json"
import myPhoto from "~/my-photo.png";
import { Picture } from '@astrojs/image/components';
import Hr from "../atoms/Hr.astro";
import BlogCard from "../molecules/BlogCard.vue";
import { getCollection } from 'astro:content';
import config from "@/config.json";

const posts = (await getCollection('blog')).filter(p => p.data.tags.includes('featured')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<div>

<div class="flex flex-col sm:flex-row gap-4 holder">
  <Picture src={myPhoto}  widths={[300, 700]} class:list="w-full" alt={`${config.author} photo`}/>
  <div class="text">
    <h1>
      Hi there, I'm <span>{config.author}</span>
    </h1>
    <br/>
    <p>
      Drawing from 15 years of coding experience, I have acquired a
      wealth of knowledge in over 20 programming languages and an
      extensive range of frameworks. This blog encompasses a diverse
      range of topics, including Linux, DevOps, software design
      patterns, as well as insights into different approaches for
      developing desktop, mobile, and web applications.
    </p>
  </div>
</div>
  <Hr/>
  <h2>Featured</h2>
  <ul>
    {posts.map((post) => (
      <BlogCard slug={post.slug} {...post.data}/>
    ))}
  </ul>
</div>
<style lang="sass">

  h2
    @apply text-2xl font-semibold tracking-wide
  .text
    text-align: justify
    width: 100%

  .holder
    margin-bottom: 10px

  .holder :global(img)
    border-radius: 4px
</style>
